.nav a:hover {
  color: #9E0028; }

#a1 {
  color: #9E0028; }

.header-nav2-1 a {
  color: #000000; }

.header-nav2-1:hover {
  background: #fff; }

.header-nav2-2 > span > a {
  color: silver; }
  .header-nav2-2 > span > a:hover {
    color: white; }

.search {
  border: 1px solid #e5e5e5;
  border-image: initial; }

.header-nav2-2 > a:hover {
  background-color: #9E0028; }

.footer {
  background: #A7C1AE; }

.footer a:hover {
  color: #9E0028; }
